
@{
    ViewBag.Title = "硬件配置单";
    Layout = "~/Views/Shared/_QuotationLayout.cshtml";
}


<div class="container">
    @*<table id="divQuotationGrid"
               data-toggle="table"
               data-group-by="true"
               data-group-by-field="shape"
               data-url="/ComputerCategory/GetJsonData">
            <thead>
                <tr>
                    <th data-field="id">Shape</th>
                    <th data-field="ConfigType">Shape</th>
                    <th data-field="name">Color</th>
                    <th data-field="type">Area</th>
                </tr>
            </thead>
        </table>*@

    <table id="divQuotationGrid"></table>

    @Scripts.Render("~/bundles/ConfigQuotationDisplay")

</div>


