
@{
    ViewBag.Title = "硬件配置单";
}

<div class="container">
   
    <div id="toolbar">
        <button id="btnNew" class="btn btn-default">New</button>       
        <button id="btnRemove" class="btn btn-default">Remove</button>
    </div>

    <table id="divComputerCategoryGrid" >
    </table>

    @Scripts.Render("~/bundles/ComputerCategory")
    
</div>

      
