
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h1>Group By v2</h1>
    <table id="divQuotationGrid"
           data-toggle="table"
           data-group-by="true"
           data-group-by-field="shape"
           data-url="/ComputerCategory/GetJsonData">
        <thead>
            <tr>
                <th data-field="shape">Shape</th>
                <th data-field="color">Color</th>
                <th data-field="area">Area</th>
            </tr>
        </thead>
    </table>

    <script type="text/javascript">
        $(function()
        {
            alert($("#divQuotationGrid"));
            $("#divQuotationGrid").bootstrapTable('hideColumn', 'shape');

        })
   
    </script>
</div>

      
